.map {
    background-image: url("/assets/map/merged.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 0;
    padding-bottom: calc(100% / (4803 / 2402));
}

.map input {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
}

.check {
    cursor: pointer;
    /*TODO: style*/
    appearance: none;
    border-radius: 100%;
}
.check:checked, .check:indeterminate {
    border: 3px solid black;
}
.check:indeterminate:after {
    content: "\2718";
    color: red;
    line-height: 100%;
    font-size: 1.5vw;
}/*TODO: center*/

/*Trail*/
.trail.check {
    width: 2%;
    height: 4%;
}
/*Badlands*/
.badlands.bonus {
    width: 2%;
    height: 4%;
}
.badlands.robbery,.badlands.check.reward {
    border-radius: 0;
    width: 2%;
    height: 4%;
}
/*TODO: individual width for chicken,cow,carriage,train*/
.badlands.check:checked {
    /*TODO: cross out instead of circle*/
}
/*Mine*/
.mine.bonus {
    width: 2%;
    height: 4%
}
.mine:not(.bonus) {
    border-radius: 0;
    width: 3.5%;
}
/* individual size for mine0-3*/
.mine0,.mine1 {
    height: 3.5%;
}
.mine2,.mine3 {
    height: 5%;
}
.mine.mine3:not(#mine-mine3-13):not(#mine-mine3-43) {
    width: 4%;
}
/*Town*/
.town {
    border: 3px solid black;
}

.undertaker, .bank, .stable, .general, .land {
    border-radius: 0;
    width: 5.2%;
}
#town-undertaker-0 {
    height: 3%;
}
#town-undertaker-1 {
    height: 4%;
}
.town.bank {
    width: 3.5%;
    height: 3.5%;
}
.town.stable {
    height: 4.1%;
}
#town-stable-1 {
    height: 3.3%
}
.town.general {
    width: 6.7%;
    height: 3.4%;
}
.town.hotel {
    width: 1.4%;
    height: 2.8%;
}
.town.bonus {
    width: 2%;
    height: 4%;
}
.town.action {
    width: 2%;
    height: 4%;
}
/*TODO: cross out checked actions*/
/*Poker*/
.poker.check {
    width: 2%;
    height: 4%;
}
.poker.textbox {
    width: 0.6%;
    height: 2.3%;
    appearance: none;
    border: none;
    background: none;
    font-weight: bold;
}
.poker.radio {
    appearance: none;
    cursor: pointer;
    width: 1%;
    height: 2%;
}
.poker.radio:checked {
    border: 2px solid black;
    border-radius: 100%;
}
/* Cemetery */
.cemetery {
    width: 3%;
    height: 6%;
}
.cemetery.bonus {
    width: 2%;
    height: 4%;
}

.cash, .gold, .star, .score.goldpan, .score.hammer {
    width: 1.5%;
    height: 3%;
}

.wanted {
    width: 1.5%;
    height: 3%;
}

.score {
    width: 2%;
    height: 2%;
}
.finalscore {
    width: 3%;
    height: 2%;
}